@use "@/styles/variables" as vars;

.menuButton {
  display: none;
}

.root {
  border-right: vars.$border-width solid vars.$border-color;
  width: vars.$menu-width;
  padding: 1.0625rem 1.0625rem;

  .eventTitle {
    font-weight: 700;
  }

  .eventDetails {
    padding: 0.8125rem 0;
    font-weight: 600;
    font-size: vars.$font-size-sm;
  }

  form {
    position: relative;

    .searchIcon {
      position: absolute;
      left: vars.$space-gap-sm;
      top: 50%;
      width: vars.$space-md;
      height: vars.$space-md;
      transform: translateY(-50%);
      pointer-events: none;
    }

    input {
      width: 100%;
      border: none;
      background-color: vars.$bg-light;
      padding-left: vars.$space-lg;
      height: 1.5rem;
      border-radius: vars.$border-radius-sm;
      font-size: vars.$font-size-sm;

      &::placeholder {
        color: #777;
      }

      &::-webkit-search-cancel-button {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: vars.$bp-desktop) {
  .menuButton {
    display: block;
    position: absolute;
    right: 3.375rem;
    top: vars.$space-gap-sm;
    border: none;
    background-color: vars.$bg-white;
    font-size: 1.875rem;
  }

  .root {
    position: absolute;
    background-color: vars.$bg-white;
    border-top: solid vars.$border-width vars.$border-color;
    top: 3.75rem;
    height: calc(100dvh - vars.$nav-width);
  }

  .root {
    transform: translateX(-100%);
  }

  .open {
    transform: translateX(0%);
  }
}
