@use "@/styles/variables" as vars;

.root {
  padding: vars.$space-xs 0.9375rem;
  border-radius: vars.$border-radius-sm;
  border: none;
  font-size: vars.$font-size-md;
  height: min-content;
  cursor: pointer;

  background-color: vars.$accent;
  color: vars.$bg-white;
  font-weight: 700;
  width: max-content;
}
