@use "@/styles/variables" as vars;

.root {
  padding: vars.$space-xs 0.9375rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 0.875rem;
  height: min-content;
  cursor: pointer;

  background-color: #5c00dc;
  color: #fff;
  font-weight: 700;
  width: max-content;
}
