@use "@/styles/variables" as vars;

.root {
  display: grid;
  grid-template-columns: vars.$nav-width 1fr;
  height: 100%;
  min-height: 100dvh;

  @media (max-width: vars.$bp-desktop) {
    height: vars.$nav-width;
    min-height: vars.$nav-width;
    grid-template-columns: 1fr;
    grid-template-rows: vars.$nav-width 1fr;
  }
}
