@use "@/styles/variables" as vars;

.root {
  padding: 1.3125rem 0 1rem;
  width: vars.$nav-width;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: space-between;
  align-items: end;
  border-right: solid vars.$border-width vars.$border-color;

  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: vars.$space-xs;

    .eventLogo {
      padding-left: vars.$space-sm;
      padding-right: vars.$space-sm;
    }
  }

  .profilePicture {
    cursor: pointer;
    justify-self: center;
  }

  @media (max-width: vars.$bp-desktop) {
    padding: 0 1rem;
    grid-auto-flow: column;
    width: 100%;
    height: vars.$nav-width;
    border-right: none;
    border-bottom: solid vars.$border-width vars.$border-color;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    align-items: center;

    .logoContainer {
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.625;

      > img:first-child {
        width: 1.875rem;
        height: 2.5rem;
      }

      .eventLogo {
        width: 2rem;
        height: 2rem;
        padding: 0;
      }
    }

    .profilePicture {
      width: 2rem;
      height: 2rem;
    }
  }
}
