@use "@/styles/variables" as vars;

.root {
  display: grid;
  grid-template-columns: vars.$icon-size 1fr vars.$header-icon-width;
  justify-content: start;
  gap: 1.1875rem;
  grid-auto-flow: column;

  .eventLogo {
    height: vars.$icon-size;
    width: vars.$icon-size;
  }

  .eventDetails {
    display: grid;

    .title {
      font-weight: 300;
      padding-bottom: vars.$space-gap-sm;
    }

    .date,
    .location {
      color: rgb(57, 53, 81);
    }
  }
}

@media (max-width: vars.$bp-desktop) {
  .root {
    grid-auto-flow: row;
    grid-template-areas:
      "title details"
      "title edit";

    .eventLogo {
      grid-area: title;
    }

    .eventDetails {
      grid-area: details;
    }

    .button {
      grid-area: edit;
    }

    grid-template-columns: vars.$icon-size 1fr;
  }
}

@media (max-width: vars.$bp-mobile) {
  .root {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "details"
      "edit";
  }
}
