.root {
  padding: 21px 0 16px;
  width: 61px;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: space-between;
  align-items: end;
  border-right: solid 1px rgb(203, 198, 222);

  .logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;

    .eventLogo {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  .profilePicture {
    justify-self: center;
  }
}
