@use "@/styles/variables" as vars;

.root {
  .header {
    padding: vars.$space-padding-header 0 vars.$space-xl;
    border-bottom: solid vars.$border-width vars.$border-color;
    p {
      padding-top: vars.$space-md;
    }
  }

  .section {
    padding-top: vars.$space-lg;
    padding-bottom: vars.$space-lg;

    .sectionHeader {
      display: flex;
      gap: vars.$space-sm;
    }
  }
}
