@use "@/styles/variables" as vars;

.root {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  font-family: "Inter", sans-serif;
  color: rgb(57, 53, 81);

  @media (max-width: vars.$bp-desktop) {
    display: block;
  }
}
